@import '../../assets/styles/scss/mixins';

.pagetitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0 40px;
  padding-top: 120px;

  @include onTablet {
    margin: 0 20px;
  }

  @include onPhone {
    margin: 0 14px;
    padding-top: 72px;
  }

  &__breadcrumbs {
    position: absolute;

    &-link {
      color: #FAFAFA;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      text-decoration: none;

      @include onTablet {
        font-size: 16px;
      }

      @include onPhone {
        font-size: 14px;
      }
    }

    &-title {
      @include onPhone {
        display: none;
      }
    }
  }

  &__title {
    max-width: 1100px;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;

    
    @include onDesktopMedium {
      max-width: 960px;
      font-size: 48px;
    }

    @include onTablet {
      max-width: 560px;
      font-size: 28px;
    }

    @include onPhone {
      font-size: 24px;
    }
  }
}
