  /* fonts */
  $font-inter: Inter;

   /* Colors */
   $color-white: #fafafa;
   $color-dark-white: #dedede;
   $color-black-bg: #0f0f0f;
   $color-gray: #9d9d9d;
   $color-dark-gray: #2c2c2c;
   $color-yellow: #eefd94;
   $color-blue: #94cbfd;
   $color-purple: #a394fd;
   $color-red: #ff3434;

   /* Palns */
  $lite-plan: linear-gradient(90deg, #EEFD94 -0.6%, #8CF8A4 101.11%);
  $basic-plan: linear-gradient(90deg, #94CBFD -0.6%, #8CF8E5 101.11%);
  $premium-plan: linear-gradient(90deg, #A394FD -0.6%, #F68CF8 101.11%);