@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  /* fonts */
  $font-inter: Inter;

   /* Colors */
   $color-white: #fafafa;
   $color-dark-white: #dedede;
   $color-black-bg: #0f0f0f;
   $color-gray: #9d9d9d;
   $color-dark-gray: #2c2c2c;
   $color-yellow: #eefd94;
   $color-blue: #94cbfd;
   $color-purple: #a394fd;
   $color-red: #ff3434;

   /* Palns */
  $lite-plan: linear-gradient(90deg, #EEFD94 -0.6%, #8CF8A4 101.11%);
  $basic-plan: linear-gradient(90deg, #94CBFD -0.6%, #8CF8E5 101.11%);
  $premium-plan: linear-gradient(90deg, #A394FD -0.6%, #F68CF8 101.11%);

  /* font sizes */
  $font-size-xl: 20px;
  $font-size-base: 16px;
  $font-size-13xl: 32px;
  $font-size-7xs: 6px;
  $font-size-sm: 14px;
  $font-size-23xl: 42px;
  $font-size-lg: 18px;
  $font-size-3xl: 22px;

  /* Gaps */
  $gap-3xs: 10px;
  $gap-21xl: 40px;
  $gap-5xl: 24px;
  $gap-xl: 20px;
  $gap-13xl: 32px;
  $gap-lg: 18px;
  $gap-sm: 14px;
  $gap-9xs: 4px;
  $gap-base: 16px;
  $gap-5xs: 8px;

  /* Paddings */
  $padding-9xl: 28px;
  $padding-21xl: 40px;
  $padding-3xs: 10px;
  $padding-base: 16px;
  $padding-3xl: 22px;
  $padding-13xl: 32px;
  $padding-5xl: 24px;
  $padding-sm: 14px;
  $padding-9xs: 4px;

  /* border radiuses */
  $br-3xl: 22px;
  $br-11xs: 2px;
  $br-5xs: 8px;
  $br-5xl: 24px;
  $br-12xs: 1px;
